  <%= form_with model: @animal_tag, url: animals_path, local: true do |form| %>
  
  <%= render 'error_messages', model: form.object %>

        AnimalPicture
        <span class="indispensable">必須</span>
      <div class="click-upload">
      クリックしてファイルをアップロード
        <%= form.file_field :image, id:"select-image" %>
    </div>
        <div class= "preview">
        <%= image_tag 'pure.png' %>
        <div id="image-list">
        </div>
        </div>
    text
      <%= form.text_area :tweet, rows: "5" %>
    tag
    <span class="indispensable">先頭に「#」を記載してください</span>
      <%= form.text_area :name, rows: "1" %>
      <div id="search-result">
    </div>
      <%= form.submit "投稿" %>
    <% end %>
