  <%= form_with model: @animal_tag, url: animals_path, local: true do |f| %>

        AnimalPicture
        <span class="indispensable">必須</span>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"animal-image" %>
    </div>
    テキスト
      <%= f.text_area :text, rows: "5" %>
    タグ
      <%= f.text_area :name, rows: "1" %>
      <%= f.submit "投稿" %>
    <% end %>