   <div id="splash">
    <div id="splash_logo">
      <img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-1-4/img/loading.svg" alt="" class="fadeUp">
    </div>
  </div>



<%= form_with(url: search_animals_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @animals.each do |animal| %>
   <%= render partial: "animal", locals: { animal: animal } %>
  <% end %>
</div>
 <%= render partial: "sideber" %>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" 
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/4-1-4.js"></script>


