<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @animal.image %>);">
  <% if user_signed_in? && current_user.id == @animal.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_animal_path(animal.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', animal_path(animal.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @animal.text %></p>
    <span class="name"><%= @animal.name %>
    </span>
  </div>
</div>

