<div class="contents row">
<div class='animal-content'>
<div class='user-content'>
  <div class='user-img-content'>
    <% if @animal.user.image.present? %>
    <%= image_tag @animal.user.image%>
    <% else %>
    <%= image_tag "dummy_user.png" %>
    <% end %>
    </div>
    <% if current_user.id != @animal.user.id? %>
      <div class="follow">
      <%= render "relationships/follow_button", user: @animal.user %>
      </div>
    <% end %>
  </div>
  <div class="content_post">
      <div class="fav">
     <%= render partial: "favorites/favorite", locals: { animal: @animal } %>
  </div>
  <span class="name">
      <a href="/users/<%= @animal.user.id %>">
      <%= @animal.user.nickname %>
      </a>
    </span>
    <p><%= @animal.tweet %></p>
  <%= image_tag @animal.image, class: 'animalpic' %>
    <div class="content_action">
            <% if current_user.id == @animal.user.id %>
     <div class="destroy">
     <%= link_to image_tag("dummy_user.png") ,animal_path(@animal.id), method: :delete %>
     </div>
  <% end %>

  </div>
  </div>
  </div>
   <div class="container">
      <%= form_with(model: [@animal, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
      <div class="comments ">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: "ber/sideber"%>
